
.mobile-bg {
  background-image: url('img/mobile-bg2.png');
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center; /* This centers the image in the div */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  height: 100vh; /* This sets the height of the div to the full viewport height */
}
.navbar-logo {
    height: 100%; /* Make the image the same height as the navbar */
    max-height: 50px; /* Optional: set a maximum height to ensure it doesn't overflow */
    width: auto; /* Maintain aspect ratio */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Center the image vertically within the navbar */
    height: 100%; /* Ensure the brand container takes the full height of the navbar */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group {
    display: flex;
    align-items: center;
}
.input-group input {
    width: 200px; /* Set the desired width for the input */
    margin-right: 10px; /* Space between input and image */
}
.input-group img {
    height: 2.375rem; /* Matches the default height of Bootstrap's form-control */
    cursor: pointer; /* Change cursor to pointer when hovering over the image */
}
